<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar"></div>
<main class="flex-shrink-0">
    <div class="container my-5">
        <h2 class="text-center text-dark">Список Дисциплин</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Название Дисциплины</th>
                    <th>Имя Преподавателя</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${coursesInfos}">
                    <td th:text="${c.courseName}">Название Дисциплины</td>
                    <td th:text="${c.teacherName}">Имя Преподавателя</td>
                    <td>
                        <a th:href="@{/courses/course-delete/{id}(id=${c.id})}"
                           class="btn btn-sm btn-danger"
                           sec:authorize="hasAnyRole('ADMIN')">
                            Удалить
                        </a>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(coursesInfos)}" class="table-warning">
                    <td colspan="3" class="text-center">Нет доступных дисциплин</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>