<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Добавление нового урока</h1>
                </div>
                <form th:action="@{/lessons/add}"
                      th:method="post"
                      th:object="${lessonModel}"
                      class="m-md-auto w-50 pb-3">

                    <!-- Дата -->
                    <div class="mb-3">
                        <label class="form-label" for="date">Дата урока</label>
                        <input th:field="*{date}"
                               th:errorclass="is-invalid"
                               type="date" class="form-control text-center" id="date"
                               name="date" required/>
                        <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></small>
                    </div>

                    <!-- Номер пары -->
                    <div class="mb-3">
                        <label class="form-label" for="selectedPair">Номер пары</label>
                        <input th:field="*{selectedPair}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="selectedPair"
                               name="selectedPair" required/>
                        <small th:if="${#fields.hasErrors('selectedPair')}" th:errors="*{selectedPair}" class="text-danger"></small>
                    </div>

                    <!-- Аудитория -->
                    <div class="mb-3">
                        <label class="form-label" for="classroom">Аудитория</label>
                        <input th:field="*{classroom}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="classroom"
                               name="classroom" maxlength="4" required/>
                        <small th:if="${#fields.hasErrors('classroom')}" th:errors="*{classroom}" class="text-danger"></small>
                    </div>

                    <!-- Группа -->
                    <div class="mb-3">
                        <label class="form-label" for="studentGroup">Учебная группа</label>
                        <input th:field="*{studentGroup}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center" id="studentGroup"
                               name="studentGroup" required/>
                        <small th:if="${#fields.hasErrors('studentGroup')}" th:errors="*{studentGroup}" class="text-danger"></small>
                    </div>

                    <!-- Курс -->
                    <div class="mb-3">
                        <label class="form-label" for="course">Курс</label>
                        <select th:field="*{course}"
                                class="form-select text-center"
                                id="course"
                                name="course" required>
                            <option value="">Выберите курс</option>
                            <option th:each="course : ${courses}"
                                    th:value="${course.id}"
                                    th:text="${course.name}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('course')}" th:errors="*{course}" class="text-danger"></small>
                    </div>

                    <!-- Преподаватель -->
                    <div class="mb-3">
                        <label class="form-label" for="course">Преподаватель</label>
                        <select th:field="*{teacher}"
                                class="form-select text-center"
                                id="teacher"
                                name="course" required>
                            <option value="">Выберите преподавателя</option>
                            <option th:each="teacher : ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="${teacher.name}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('teacher')}" th:errors="*{teacher}" class="text-danger"></small>
                    </div>

                    <button type="submit" class="btn btn-secondary">Добавить урок</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>