<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar"></div>
<main class="flex-shrink-0">
    <div class="container my-5">
        <h2 class="text-center text-dark">Назначенные Занятия</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Дата</th>
                    <th>Пара</th>
                    <th>Аудитория</th>
                    <th>Группа</th>
                    <th>Курс</th>
                    <th>Преподаватель</th> <!-- Новая колонка -->
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="l : ${lessonsInfos}">
                    <td th:text="${#temporals.format(l.date, 'dd.MM.yyyy')}">Дата</td>
                    <td th:text="${l.selectedPair}">Пара</td>
                    <td th:text="${l.classroom}">Аудитория</td>
                    <td th:text="${l.studentGroup}">Группа</td>
                    <td th:text="${l.courseName}">Курс</td>
                    <td th:text="${l.teacherName}">Преподаватель</td>
                    <td>
                        <a th:href="@{/lessons/lesson-delete/{id}(id=${l.id})}"
                           class="btn btn-sm btn-danger"
                           sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">
                            Удалить
                        </a>
                    </td>
                </tr>

                <tr th:if="${#lists.isEmpty(lessonsInfos)}" class="table-warning">
                    <td colspan="7" class="text-center">Нет назначенных занятий</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>