<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar"></div>
<main class="flex-shrink-0">
<div class="container">
    <h1 class="text-center text-dark mb-4">Профиль</h1>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-4 custom-card">
          <div class="card-header text-center">
            <img src="/pic/img_user.png" alt="Avatar" class="rounded-circle img-fluid profile-avatar mb-3">
            <h2 class="card-title text-primary mb-2">Информация о пользователе</h2>
          </div>
          <div class="card-body">
            <p class="fs-5"><strong>Полное имя:</strong> <span th:text="*{user.fullName}"></span></p>
            <p class="fs-5"><strong>Имя пользователя:</strong> <span th:text="*{user.username}"></span></p>
            <p class="fs-5"><strong>Роль:</strong> <span sec:authentication="principal.authorities"></span></p>
            <p class="fs-5"><strong>Email:</strong> <span th:text="*{user.email}"></span></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"></footer>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>